API_KEY='YourDiscordAPIKey'
CLIENT_ID="YourClientId"
GUILD_ID='YourGuildId'
NODE_VERSION='yourNodeVersion'
SHOULD_CREATE_COMMANDS=boolean
DB_HOST='localhost'
POSTGRES_USER='username'
POSTGRES_DB='dbName'
POSTGRES_PASSWORD='password'
FORCE_DB_RESET='boolean'
SEQUELIZE_LOGGING='boolean'
NODE_ENV='development'
PORT='5000'
DB_HOST=''
YOUTUBE_API_KEY=''
GOOGLE_OAUTH_ID=''
GOOGLE_OAUTH_SECRET=''